*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(196, 194, 197);
}
.container{
    max-width: 1000px;
    background-color: hotpink;
    margin: 0 auto;
    padding: 20px;
}
.profile-image{
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3{
    columns:black;
}
.header-contact{
    float:right;
    padding: 30px;
}
.header-contact a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: brown;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
  border-bottom: none;
   
}
#personal-section{

}
.content{

}

.left-div{
    width: 30%;
    float:left;

}
.right-div{
    width: 70%;
    float: left;

}
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.common-hr{
    border: black solid 1px;
    border-bottom: none;
    margin: 20px auto;

}

#skill-section{

}
.content2{

}
#eduq{

}
.content3{

}
